center {
    color: rgb(56, 50, 50);
    font-size: 20px;
    padding-top: 200px;
  }

  .main {
    background-image: url("C:\Users\2003n\Documents\SEC\MErn\React\Day-5\Website\src\assets\gamebg.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
  }
  
  h2 {
    font-weight: 550;
    color: rgb(28, 26, 26);
    background-color: aliceblue;
  }
h1 {
    font-weight: 550;
    color: rgb(28, 26, 26);
    background-color: aliceblue;
  }